<div class="container">
  <h1>{{ registrationForm.name }}</h1>
  <h3>{{ registrationForm.studentId }}</h3>
  <div class="row">
    <div class="col-md-6">

      <form (ngSubmit)="updateRegistrationForm(registrationForm._id)" #thisForm="ngForm">
        <div class="form-group">
          <label for="name">Pin</label>
          <input type="text" class="form-control" [(ngModel)]="registrationForm.pin" name="pin" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!thisForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>