<div class="container">
  <h1>{{ registrationForm.name }}</h1>
  <h3>{{ registrationForm.studentId }}</h3>
  <dl class="list">
    <dt>Degree</dt>
    <dd>{{ registrationForm.degree }}</dd>
    <dt>Email</dt>
    <dd>{{ registrationForm.email }}</dd>
    <dt>Advisor</dt>
    <dd>{{ advisorName }}</dd>
    <dt>Courses</dt>
    <dd>      
      <div *ngFor="let entry of my_crns | keys">
      {{entry.key}}: {{entry.value}} <br>
      </div>
    </dd>
    <dt>Pin</dt>
    <dd>{{ registrationForm.pin }}</dd>
  </dl>

<div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/registration-form-edit', registrationForm._id]" class="btn btn-success">EDIT</a>
      <!-- <button class="btn btn-danger" type="button" (click)="deleteRegistrationForm(registrationForm._id)">DELETE</button> -->
      <button mat-raised-button color="primary" (click)="openDialog()">Approve</button>
      <a [routerLink]="['/registration-form', registrationForm.advisor]" class="btn mat-raised-button">DONE</a>
    </div>
  </div>
</div>